<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function updateSum(input, satnica, output) {
            const hours = parseFloat(input.value);
            const rate = parseFloat(satnica.textContent);
            const sum = hours * rate;
            output.textContent = `Suma za isplatu: ${sum.toFixed(2)}`;
        }
    </script>
</head>
<body>
    {% for radnik in radnici %}
    <form action="/direktor_radnik_isplata" method="post">
        <label class="login-label" for="tr_br_sati">Trenutan broj radnih sati: {{ radnik[9] }}</label>
        <input class="login-input" type="number" name="tr_br_sati" placeholder="Molimo vas unsite broj sati koji zelite da isplatite" required oninput="updateSum(this, document.getElementById('satnica-{{ loop.index0 }}'), document.getElementById('suma-{{ loop.index0 }}'))">

        <label class="login-label" for="satnica" id="satnica-{{ loop.index0 }}">Satnica: {{ radnik[13] }} </label>

        <label class="login-label" id="suma-{{ loop.index0 }}">Suma za isplatu: </label>

        <input class="login-btn" type="submit" value="Izvrsite uplatu">
    </form>
    {% endfor %}
</body>
</html>